.sectionDestaque{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
}

.cardsDesatque{
    display: flex;
    gap: 20px;
}

.tituloDestaque{
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--cor-primaria);
}

.sectionProdutos{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;

}

.secaoTiposProdutos{
    margin: 10px 0px;
}


.produtosCards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.secaoTitulo{
    text-align: center;
    font-size: 35px;
    color: var(--cor-destaque);
}

.containerSeparador{
    display: flex;
    justify-content: center;
}