.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-primaria);
}

.divHeader{
    display: flex;
    align-items: center;
    width: 100%;
}

.tituloHeader{
    color: #ffffff;
}

.inputHeader{
    padding: 3px 8px;
    width: auto;
    width: 50%;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
}

