@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #021526;
    color: #6eacda;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6875rem 2.875rem;
    width: 100%;
}

nav > div {
    display: none;
}

nav > h1 {
    font-size: 2rem;
}

nav > ul {
    display: flex;
    gap: 1.875rem;
}

nav > ul > li {
    list-style: none;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}

nav > ul > li:hover {
    color: white;
    transition: 0.5s;
}

main {
    padding: 3.125rem 2.625rem;
}

article {
    background-color: #6eacda;
    padding: 2.0625rem 2rem;
    border-radius: 0.625rem;
    margin-bottom: 3.125rem;
}

article > div > div > h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #021526;
}

article > div > div > p {
    font-weight: 600;
    font-size: 2rem;
}

article > div > div > button {
    width: 100%;
    border-radius: 0.75rem;
    background-color: #021526;
    font-weight: 600;
    color: white;
    padding: 0.375rem 0rem;
    font-size: 1.5rem;
    border: none;
    margin-top: 1.75rem;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: #021526;
    transition: 0.5s;
    cursor: pointer;
}

.divArticle {
    display: flex;
    gap: 32px;
}

.fotoArticle {
    background-image: url(./assets/articleFotos/marçal\ cadeirada.avif);
    background-position: center;
    background-size: cover;

    width: 310px;
    height: 292px;

    border-radius: 10px;
}

.fotoArticle2 {
    background-image: url(./assets/articleFotos/longlegs.jpg);
    background-position: center;
    background-size: cover;

    width: 310px;
    height: 292px;

    border-radius: 10px;
}

.fotoArticle3 {
    background-image: url(./assets/articleFotos/headimg.jpg);
    background-position: center;
    background-size: cover;

    width: 310px;
    height: 292px;

    border-radius: 10px;
}

footer {
    background-color: rgba(2, 21, 38, 0.85);
    padding: 22px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > h2 {
    text-align: center;
    color: white;
}

@media (max-width: 1116px)  {

    main {
        padding: 2.115rem 1.625rem;
    }

    #menu-toggle{
        display: none;
    }

    .menu-button{
        cursor: pointer;
    }

    .menu-content{
        display: none;
        position: absolute;
        top: 90px;
        right: 0px;
        background-color: #6eacda;
        transition: 0.5s;
    }

    .menu-content a:hover{
        background-color: #021526;
        color: #6eacda;
        transition: 0.5s;
        
    }

    .menu-content a{
        display: block;
        text-decoration: none;
        color: #021526;
        padding-bottom: 10px;
        padding: 10px 5px;
        font-weight: 600;
    }

    .menu-content ul {
        list-style: none;
    }

    #menu-toggle:checked + .menu-button + .menu-content{
        display: block;
    }

    nav > h1 {
        font-size: 2rem;
    }

    nav > ul {
        display: none;
    }

    nav > div {
        display: block;
        font-size: 2rem;
    }

    article > div{
        display: flex;
        flex-direction: column;
    }

    article > .divArticle > div > img{
        width: 100%;
    }

    .fotoArticle2 {
        background-image: url(./assets/articleFotos/longlegs.jpg);
        background-position: top center;
        background-size: cover;
    
        width: 310px;
        height: 292px;
    
        border-radius: 10px;
    }

    article > div > div > h2 {
        margin-bottom: 1rem;
        font-size: 1.875rem;
        color: #021526;
    }
    
    article > div > div > p{
        width: 100%;
        font-size: 1.25rem;
    }

    footer{
        padding: 15px 0px;
    }

    footer > h2 {
        text-align: center;
        color: white;
        font-size: 1rem;
    }
}
