.divBtnCard{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    border: none;
}

.btnCard{
    background-color: #0026ff;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    transition: 0.5s;
}

.btnCard:hover{
    transition: 0.5s;
    background-color: #1200af;
}